body {
  background-color: black;
}

input {
  width: 80%;
  margin: 10px auto;
  display: block;
  height: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}