{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <title>MAC</title>
</head>
<body>
  <div class="container-fluid">
    <form action="/" method="POST">
      {% csrf_token %}
      <input type="text" name="search">
    </form>
  </div>

  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
      {% for a in anime %}
        <div class="col-auto mb-3">
          {% if a.status == 'Planning to Watch' %}
            <div class="card border-primary" style="width: 18rem;">
          {% elif a.status == 'Watching' %}
            <div class="card border-warning" style="width: 18rem;">
          {% elif a.status == 'Completed' %}
            <div class="card border-success" style="width: 18rem;">
          {% endif %}
            <img src="{{a.image_url}}" class="card-img-top" alt="{{a.title}}">
            <div class="card-body">
              <h5 class="card-title">{{a.title}}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if a.status == 'Planning to Watch' %}
                    <button type="button" class="btn btn-sm btn-primary">Planning to Watch</button>
                  {% else %}
                    <button type="button" class="btn btn-sm btn-outline-primary">Planning to Watch</button>
                  {% endif %}
                  {% if a.status == 'Watching' %}
                    <button type="button" class="btn btn-sm btn-warning">Watching</button>
                  {% else %}
                    <button type="button" class="btn btn-sm btn-outline-warning">Watching</button>
                  {% endif %}
                  {% if a.status == 'Completed' %}
                    <button type="button" class="btn btn-sm btn-success">Completed</button>
                  {% else %}
                    <button type="button" class="btn btn-sm btn-outline-success">Completed</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</body>
</html>